#####################################
## ERVannotator configuration file ##
#####################################

[General]
job_name = Test_job
organism = Test
threads = 10


[DatabaseInfo - default values]
db_name = test_db
mysql_server = localhost
mysql_username = root
mysql_password = 


[Paths]
path = path to master file
# Configuration file path
config_path = path to genome configuration file
# BLAST path
blast_path = path to blast executable
# RepeatMasker path
rm_path = path to repeatmasker executable
gt_path = path to genometools executables
probe_file_path = path to probe file
reference_file_path = path to reference file
genome_path = path to the genome to be analyzed
# LTRdigest paths
trnas_path = path to trna file for PBS annotation
hmms_path = path to hmms for domain annotation
## Annotation Db paths
gag_file = path to gag probes for ERV annotation
pol_file = path to reference sequences
env_file = path to env annotation


[Parameters - default values]
# Specify probe/reference type (nucl, prot)
probe_type = prot
reference_type = prot
# BLAST parsing parameters
min_hsp_distance = 5000
e_value = 0.00001
# Extension buffer
ext_buffer = 8000
# LTRharvest parameters
# LTRharvest overlaps flag (no|best|all). At the moment only best is supported.
ltrharvest_sim = 80.0
mintsd = 4

